.container {
  margin: 10px;
/* background: #f0f0f0; */
/* border: 1px solid #d0d0d0; */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.options {
  display: grid;
  gap: 5px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}


